@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --color-accent: #1cdb63;
  --color-accent-soft: #00ff5e;
  --color-accent-mute: #0e692f;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: #ebebeba3;
}

body {
  background-color: var(--vt-c-black);
  color: var(--vt-c-text-dark-2);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  line-height: 1.6;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 3px solid #2c2c2c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

h1,
h2 {
  color: var(--color-accent);
}

.bg-color {
  background-color: var(--vt-c-black);
}

.bg-color-mute {
  background-color: var(--vt-c-black-mute);
}

.bg-color-soft {
  background-color: var(--vt-c-black-soft);
}

.c-accent {
  color: var(--color-accent);
}

.accent-shadow-box {
  box-shadow: 0 0 5px var(--color-accent-soft);
}

.accent-shadow-text {
  text-shadow: 0 0 5px var(--color-accent-soft);
}

.hover-accent:hover {
  transition: 0.2s ease-in-out;
  color: var(--color-accent);
  text-shadow: 0 0 3px var(--color-accent-soft);
}

.hover-accent-shadow-box {
  position: relative;
}

.hover-accent-shadow-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

.hover-accent-shadow-box:hover {
  box-shadow: 0 0 10px var(--color-accent-mute);
}

.hover-accent-shadow-box:hover::before {
  box-shadow: inset 0 0 10px var(--color-accent-mute);
}

.inner-shadow {
  box-shadow: inset 1px 2px 5px #0000002c;
}

button {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}

input {
  background-color: transparent;
}

select {
  background-color: var(--vt-c-black-mute);
}
